body{
    background-image: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo{
    background: #CA3414;
}

#menu{
    background: #ff0000;
  }

  #menu ul li:hover{
    background: #CA3414;
}

.button-more{
    background: #CA3414;
}
