*{
    padding: 0px;
    margin: 0px;
}

.clearfix{ 
    float: none;
    clear: both;
}


#global{
    width: 80%;
    margin: 0px auto;
    margin-top: 30px;
    background: white;
    padding: 30px;
    box-shadow: 0px 0px 2px #cccc;
}

#logo{
    display: block;
    font-family: Verdana, arial;
    font-size: 30px;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    width: 389px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height: 80px;
}

#menu{
  font-family: helvetica,arial;
  width: 100%;
  text-transform: uppercase;  
  margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    list-style: none;
}
#menu ul li{
    height: 46px;
    display: inline-flex;
    transition: all 300ms;
}


#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#posts{
    width: 60%;
    float: left;
    font-family: helvetica,arial;
}
.post{
    padding: 7px;
    
}

h2{
    font-size: 30px;
    color: #333333;
    font-family: helvetica,arial;
}

.post .date{
    display: block;
    color: gray;
    margin-top: 5px;
}

.post p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25px;
    text-align: justify;
}

.button-more{
    font-size: 14px;
    text-align: center;
    display: block;
    width: 60px;
    padding: 15px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    float: auto;
}

#sidebar{
    font-family: helvetica,arial;
    width: 25%;
    float: right;
}

#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333333;
    background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span{
    background: white;
    padding: 5px;
}

#sidebar img {
    width: 100%;

}

#sidebar p{
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
select{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #cccc;
    width: 80%;
    margin-top: 3px;
    margin-bottom: 5px;
}

form input[type="submit"]{
    background: #eeeeee;
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

footer{
    font-family: helvetica,arial;
 
    background: rgba(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 81%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    line-height: 40px;
}

#curso{
    float: left;    
    color: white;

}

.bx-wrapper, .bx-viewport{
    height: 250px !important;
}

#selector-theme{
    position: fixed;
    top:40%;
    background: rgba(51, 51, 51, 0.5);
    width: 50px;
    height: 100px;
}

#toGreen,
#toRed,
#toBlue{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;

}
#toGreen{
   background:  #235e3d;
}
#toBlue{
    background: #1F87C4;
}
#toRed{
    background: #CA3414;
}

.subir{
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}

#box{
    width: 60%;
    float: left;
    margin-top : 40px;
}
#acordeon{
    margin-top: 20px;
}

#reloj{
    font-size: 30px;
    font-weight: bold;
    font-family: helvetica, arial;
    color: #333;
    border : 5px solid #333;
    width: 30%;
    padding: 30px;
    margin: 0px auto;
}

#form_contact{
    width: 45%;
    margin-top: 15px;
    font-family: helvetica, arial;
}

#form_contact label{
    width: 100%;
    display: block;
    margin-top: 5px;

}

span.help-block.form-error {
    background: red;
    color: whitesmoke;
    font-family: helvetica, arial;
    float: right;
    padding: 15px;
}



.wrapper{
    display: flex;
    margin-left: -14px;
}

.wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 6px 14px 3px #000000;
    cursor: pointer;
    transition:  all 0.2s cubic-bezier(0.68, -0.55, 0.2
    65, 1.55);
}

.wrapper .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip{
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
background-color: #e1306c;
color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
background-color: #333333;
color: #ffffff;
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
background-color: #0088cc;
color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
background-color: #de463b;
color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
background-color: #0e76a8;
color: #ffffff;
}

.wrapper .curriculum:hover,
.wrapper .curriculum:hover .tooltip,
.wrapper .curriculum:hover .tooltip::before {
background-color: orange;
color: #ffffff;
}


